<html>

  {% include 'head.html' %}

  <body>
    {% include 'header.html' %}
    <main>
      <a href="javascript:history.back()">Go Back</a>
      <p>
	<strong>{{tag.name}}</strong>
      </p>

      {% for page in tag.pages %}
      <div>
	<h1>{{page.title}}</h1>
	<small>{{page.created_at}}</small>
	{{ page.body | truncate(100, false, ' [...]') }}<br/>
	<a href="{{page.url}}">Continue reading...</a>
	<p>
	  {% for tag in page.tags%}
	  <small>{{tag}}</small>
	  {% endfor %}
	</p>
      </div>
      <hr/>
      {% endfor %}
    </main>
  </body>

  
</html>
